// app global css in SCSS form

// Add your customize colors
// accessible via les attribut color="custom"
.text-custom {
  color: #bcc127aa;
}

.bg-custom {
  background-color: #bcc127aa;
}

// Si je veux personnaliser le mode dark, je selectionne toutes les class finissant par --dark correspondant
body.body--dark,
[class*='--dark'] {
  color: #f3a154;
}
