// app global css in SCSS form

// Add your customize colors
// accessible via les attribut color="custom"
.text-custom {
  color: var(--custom-color);
}

.bg-custom {
  background-color: var(--custom-color);
}

// Si je veux personnaliser le mode dark, je selectionne toutes les class finissant par --dark correspondant
body.body--dark,
[class*='--dark'] {
  color: var(--color-dark-text);
}

[theme='elegant'] {
  --custom-color: #b4e382;
  --q-secondary: #f15836;
  --q-primary: #f19136;
}
